# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# 바이너리 폴더 비포함
.vs/
x64/
x86/
Debug/
Release/
ipch/

# 이미지 편집 파일 비포함
*.afphoto
*.psd